<% include navbar.ejs %>
<% include agentsearchbar.ejs %>
   <link rel="stylesheet" href="/stylesheets/homelist.css">

<!-- <div class="container">
  <div class="page-header">
    <h1 class="text-center">Who am I?</h1>
  </div>
  <p class="lead text-center">I am a creative graphic designer focused on modern eye catching designs. I am not only the graphic designer! I can also do complete websites &amp; computer applications.</p> -->

  <div class="container" >
    <div class="row stylish-panel">
      <% agents.forEach(function(agent, i){ %>

      <div class="col-md-4">
        <div>
          <div class="text-center vd_info-parent"> <img src="/<%= agent.photopath %>" name="aboutme" width="140" height="140" class="img-circle"> </div>
          <!-- <img src="/<%= agent.photopath %>" alt="Texto Alternativo" class="img-circle img-thumbnail" height="20%" width="40%" > -->
          <h2><%= agent.firstName %> <%= agent.lastName %></h2>

          <p><%= agent.company %></p>
          <h4 href="#myModal<%= agent._id %>"> <%= agent.address%></h4>
          
          <a href="/users/showagent/<%= agent._id %>" class="btn btn-primary" title="See more">  More Info »</a>
        </div>
      </div>

<% if((i + 1) % 3 === 0 && i!=2) { %>
          </div>
      <% } %>
<% if((i + 1) % 3 === 0) { %>
          <div class="row stylish-panel">
      <% } %>
      <%}) %>
    </div>
    <div class="row stylish-panel">

    </div>
  </div>
</div>

</div>