<% include layout.ejs %>
   <link rel="stylesheet" href="/stylesheets/homelist.css">

<!-- <div class="container">
  <div class="page-header">
    <h1 class="text-center">Who am I?</h1>
  </div>
  <p class="lead text-center">I am a creative graphic designer focused on modern eye catching designs. I am not only the graphic designer! I can also do complete websites &amp; computer applications.</p> -->

  <div class="container" >
    <div class="row stylish-panel" height="500px">
      <% homes.forEach(function(home, i){ %>

      <div class="col-md-4">
        <div>
          <img src="<%= home.photopaths[0] %>" height="271px" width="186px" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2><%= home.homeType %></h2>

          <p><img src="/img/Blueprint.png" height="24px" width="24px" text-align="left"/> <%= home.squareFoot%>  | <img src="/img/Bed.png" height="24" width="24"/> <%= home.bathrooms%> ba | <img src="/img/Bathtub.png" height="24" width="24"/> <%= home.bedrooms%> bdr</p>
          <a><h4 href="#myModal<%= home._id %>"><img src="/img/Directions.png" height="24px" width="24px" text-align="left" data-toggle="modal" data-target="#myModal<%= home._id %>"/> <%= home.region%></h4></a>
          <h4><img src="/img/forSale.png" height="35px" width="35px" text-align="left"/> $<%= home.price %></h4>
          <a href="/homes/show/<%= home._id %>" class="btn btn-primary" title="See more">  More Info »</a>
        </div>
      </div>
      <div class="modal fade" id="myModal<%= home._id %>">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:red">×</button>
        </div>
<!--         <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Log-in</a>
        </div> -->
   <!--  <div class="container"> -->
     <div class="row-fluid">
     
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=<%= home.address %>
      &zoom=17
      &key=AIzaSyCKhfyQAD8hLWF1GSsTB5E3WzcL2ppBEKs"></iframe>
       
        
        <div class="span4" text-align="center">
            <h2><%= home.address %></h2>
            <address>
                <strong><%= home.homeType %></strong><br>
               <%= home.city %><br>
                <%= home.region %><br>
                <%= home.province %><br>
                Canada<br>
                <abbr title="Phone">P:</abbr> 01234 567 890
            </address>
<!--         </div>-->
      </div>
 <!--  </div>  -->
</div>
    </div>
</div>
</div>
<% if((i + 1) % 3 === 0 && i!=2) { %>
          </div>
      <% } %>
<% if((i + 1) % 3 === 0) { %>
          <div class="row stylish-panel">
      <% } %>
      <%}) %>
    </div>
    <div class="row stylish-panel">

    </div>
  </div>
</div>

</div>