<% include profilelayout.ejs %>

<!-- Gallery -->
  <div class="container">
    <section>
      <div class="relative">
      <div class="page-header" id="Sell">
          <h4><%= home.address %></h4>
        </div> 

        <div class="absolute">
       
<div class="jumbotron">
        
       

 <form class="form-horizontal" role="form" method="post" action="</bid">
    <div class="form-group">
      
        <label for="Bid" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
             <p><h1>$<%= home.price %></h1>
                  <h5>Highest Bid</h5>
           </p>
        
   
</div>
</form> 
       <input type="text" class="form-control" id="bidvalue" name="bidvalue"  placeholder="Enter Your Bid" value=""/>

         <div class="col-sm-10 col-sm-offset-2">
        <h5>  <input id="submit" name="submit" type="submit" value="BID" class="btn btn-primary"/> </h5>
      </div> 
      </div></div> 

  <div class="col-md-12"><div class=google>

  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=105 Rollingwood Drive, Brampton, ON
      &zoom=17
      &key=AIzaSyCKhfyQAD8hLWF1GSsTB5E3WzcL2ppBEKs"></iframe>
</div>
<br>
<div class="jumbotron"><h2>CONTACT AGENT</h2>
 <div class="text-center vd_info-parent"> <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"> 
<p>Eric Thomas</p>
 </div>
  <h5><div class="mgtp-20">
                      <table class="table table-striped table-hover">
                        <tbody>
                          <tr> 
                           <h5> <td>User Rating</td>
                            <td><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                          </tr>
                            </tbody>
                      </table> </div> </h5>

<form class="form-horizontal" role="form" method="post" action="</bid">
    <div class="form-group">
     <label for="Bid" class="col-sm-2 control-label"></label>
     

 <h5><input type="text" class="form-control" id="bidvalue" name="bidvalue"  placeholder="First Name" value=""/><br>
<input type="text" class="form-control" id="bidvalue" name="bidvalue"  placeholder="Last Name" value=""/><br>
<input type="text" class="form-control" id="bidvalue" name="bidvalue"  placeholder="Email Address" value=""/><br>
<input type="text" class="form-control" id="bidvalue" name="bidvalue"  placeholder="Phone Number" value=""/><br>
<input type="text" class="form-control-Message" id="bidvalue" name="bidvalue"  placeholder="Brief Message" value=""/><br>

 <div class="col-sm-10 col-sm-offset-2">
        <h5>  <input id="submit" name="submit" type="submit" value="SUBMIT" class="btn btn-primary"/> </h5>
      </div> 

      </h5>

</div>




  </div>

    </div>

</div>

        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel" style="width: 50%; margin-left: 10px" >
          <ol class="carousel-indicators">
            <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#screenshot-carousel" data-slide-to="1"></li>
            <li data-target="#screenshot-carousel" data-slide-to="2"></li>
            <li data-target="#screenshot-carousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="<%= home.photopaths[0] %>" width="550px" height="400px" alt="Text of the image">
              <div class="carousel-caption">
                <h3>River heading</h3>
                <p>This is the caption</p>
              </div>
            </div>
            <div class="item">
              <img src="<%= home.photopaths[1] %>" width="550px" height="400px" alt="Text of the image">
              <div class="carousel-caption">
                <h3>Street heading</h3>
                <p>This is the caption</p>
              </div>
            </div>
            <div class="item">
              <img src="http://www.nps.gov/anti/planyourvisit/images/Pry-House.jpg" alt="Text of the image">
              <div class="carousel-caption">
                <h3>Painting heading</h3>
                <p>This is the caption</p>
              </div>
            </div>

          </div><!-- End Carousel inner -->
          <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- End Carousel -->
   </div> </section>
  </div>
<br>




  <div class="col-md-6">
  <div class="jumbotron">Details</div>
        
  <div class="jumbotron" >
   <div class="row">

          <div class="col-md-4">
          <blockquote>
             <p><h6>Amenities Nearby</p>
              <footer>Park, Public Transit, Schools</footer>
          </h6> </blockquote>
          </div>

          <div class="col-md-4">
            <blockquote>
              <p><h6>Total Parking Spaces</p>
              <footer>4</footer>
           </h6> </blockquote>
          </div>

          <div class="col-md-4">
            <blockquote>
              <p><h6>Bedrooms</p>
              <br><footer>3</footer>
           </h6> </blockquote> 
         </div>

   </div>
  </div>
  
 
 
    
  <div class="jumbotron">Buildings</div>
      
     <div class="jumbotron" >
     <div class="row">

          <div class="col-md-6">
            <blockquote>
              <p><h6>Style</p>
              <footer>Detached</footer>
            <br><p><h6>Basement Type</p>
              <footer>Full (finished)</footer>
             
            </blockquote>
          </div>

          <div class="col-md-6">
            <blockquote>
               <br><p><h6>Cooling</p>
              <footer>Central Air Conditioning</footer>
              <br><p><h6>Heating </p>
              <footer>Natural Gas</footer>
            </blockquote>
          </div>


       </div></div>
    
      
      
   
  <div class="jumbotron">Rooms</div>
        
   <div class="jumbotron"> 
    <div class="row">

          <div class="col-md-4">
            <blockquote>
              <p><h6>Level</p>
              <footer>Second Level</footer>
              <br><br><br><br><footer>Lower Level</footer>
              <br><br><footer>Main Level</footer>
            </blockquote>
          </div>

          <div class="col-md-4">
            <blockquote>
              <p><h6>Type</p>
              <footer>Master Bedroom</footer>
              <footer>Bedroom 2</footer>
              <footer>Bedroom 3</footer>
              <br><br><footer>Recreational, Games room</footer>
              <br><footer>Living room</footer>
              <footer>Dining room</footer>
              <footer>Kitchen</footer>
              <footer>Family room</footer>
            </blockquote>
          </div>

          <div class="col-md-4">
            <blockquote>
              <p><h6>Dimensions</p>
              <footer>3.96 m x 3.5 m</footer>
              <footer>3.96 m x 3.5 m</footer>
              <footer>3.05 m x 2.9 m</footer>
              <br><br><footer>5.48 m x 2.89 m</footer>
              <br><br><footer>3.35 m x 2.89 m</footer>
              <footer>4.88 m x 4.27 m</footer>
              <footer>3.5 m x 3.38 m</footer>
              <footer>9.75 m x 5.18 m</footer>
            </blockquote></div>

          </div></div>
        </div><!-- End row -->
 <div class="col-md-12">
        <%if (user== "ADMIN") { %>
<div class="jumbotron" id="rooms">
  <h2>This house is <%= home.publicTrue %></h2>
  <form action = "/admin/verify/<%= home._id %>" method = "post">
        <input type="submit" name="verified" value="true">
        <input type="submit" name="verified" value="false" />
  </form>

</div>
</div>

<% } %>
</body>


</html>

