<% include navbar.ejs %>
<link rel="stylesheet" href="/assets/css/agentPage.css">
<div class="vd_content-section clearfix">
            <div class="row">
              <div class="col-sm-3">
                <div class="panel widget light-widget panel-bd-top">
                  <div class="panel-heading no-title"> </div>
                  <div class="panel-body">
                    <div class="text-center vd_info-parent"> <img src="/<%= user.photopath %>" name="aboutme" width="140" height="140" class="img-circle"> </div>
                    <div class="row">
                    
                    </div>
                    <h2 class="font-semibold mgbt-xs-5"><%= user.firstName %> <%= user.lastName %></h2>
                    <h4>Sales Engineer at Johnson Controls</h4>
                    
                  </div>
                   <script>
  $(document).ready(function() {

     $('#uploadForm').submit(function() {
     $("#status").empty().text("File is uploading...");

        $(this).ajaxSubmit({

            error: function(xhr) {
                status('Error: ' + xhr.status);
            },

            success: function(response) {
          console.log(response)
          $("#status").empty().text(response);
            }
  });

  return false;
    });    
});
  </script>
                <form id="uploadForm"
          enctype="multipart/form-data"
          action="/uploadphoto"
          method="post">
      <input type="file" name="userPhoto" />
      <input type="submit" value="Upload Image" name="submit">
      <span id = "status"></span>
    </form>
                </div>

                <!-- panel widget -->
                
                <!-- panel widget --> 
              </div>
             <div class="col-sm-9">
    <div class="tabs widget">
        <ul class="nav nav-tabs widget">
            <li class="active"> <a data-toggle="tab" href="#profile-tab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
            <%if (user.username== locals.username) { %>
            <li > <a data-toggle="tab" href="#edit-tab"> Edit <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
            <% } %>
        </ul>
        <div class="tab-content" background-color="#1fae66">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">
                    <div class="vd_info tr">
                      <%if (user.username== locals.username) { %>
                        <a href="/users/signout" class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Log Out </a>
                         <% } %>
                    </div>
                    <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">First Name:</label>
                                <div class="col-xs-7 controls">
                                    <%= user.firstName %>
                                </div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Last Name:</label>
                                <div class="col-xs-7 controls">
                                    <%= user.lastName %>
                                </div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">User Name:</label>
                                <div class="col-xs-7 controls">
                                    <%= user.username %>
                                </div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Email:</label>
                                <div class="col-xs-7 controls">
                                    <%= user.email %>
                                </div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Address:</label>
                                <div class="col-xs-7 controls">105 Rollingwood Drive</div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Country:</label>
                                <div class="col-xs-7 controls">Canada</div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">City:</label>
                                <div class="col-xs-7 controls">Brampton</div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Phone:</label>
                                <div class="col-xs-7 controls">647-219-1326</div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row -->
            </div>
            <div id="edit-tab" class="tab-pane">
                <div class="pd-20">
                  
                    <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">First Name:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                               
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Last Name:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                                
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">User Name:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                               
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Email:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                               
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Address:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                                
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Country:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                                
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">City:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                                
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Phone:<div class="form-group">
                                <input type="text" class="form-control" name="website">
                                </div></label>
                                
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row -->
            </div>
            <!-- pd-20 -->
        </div>
        <!-- home-tab -->
    </div>
    <!-- pd-20 -->
</div>
  <!-- tab-content --> 
</div>


<!-- tabs-widget -->              </div>
